footer {
  margin: auto;
  text-align: center;
  background-color: #121212;
  color: #777;
}
.footer-container {
  padding: 50px 30px;
  width: 90%;
  max-width: 1200px;
  margin: auto;
}
.footer-container p {
  font-size: 16px;
}
