.nav-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #121212;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  
}
.nav-container h1{
  color: rgb(0, 255, 224);
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  flex-wrap: wrap;
  gap: 30px;
}

nav a{
  text-decoration: none;
  color: #ccc;
  font-size: 18px;
}
nav a:hover{
  color: rgb(0, 255, 224);
}
nav button{
  display: none;
  background: transparent;
  border: none;
  width: 50px;
}
.responsive-nav{
  display: none;
  flex-direction: column;
  width: 300px;
  height: 100vh;
  position: fixed;
  top: 80px;
  right: 0;
  z-index: 999;
  background-color: rgba(18, 18, 18, 0.766);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(18, 18, 18,0.1);
}
.responsive-nav a{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
  font-size: 40px;
}
.responsive-nav a:hover{
  color: rgb(0, 255, 224);
}