.project-container{
  padding: 70px 0;
  max-width: 1200px;
  margin: auto;
  width: 90%;
}

.project-grid{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)) ;
  gap: 20px;
  max-width: 1000px;
  margin: auto;
}
.project-card{
  background-color: #222;
  border: 1px solid #2E2E2E;
  text-align: center;
  border-radius: 12px;
  transition: transform 0.2s;
}
.project-card:hover{
  transform: translatey(-5px);
}
.project-card img{
  object-fit: cover;
  width: 100%;
  height: 100px;
  background-color: white;
  
}
.project-info{
  padding: 20px;
}
.project-info h3{
  margin: 10px 0 5px;
}
.project-info p{
  font-size: 16px;
      color: #aaa;
}
.project-info a{
  font-size: 14px;
  color: rgb(0, 255, 224);;
}
.project-container p{
  text-align: center;
  font-size: 16px;
  color: #aaa;
  padding-top: 20px;
}
